@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-border-default: 255, 255, 255, 0.2;
    --scrollbar-width: 0.1rem;
    --background: #111113;
    --background-secondary: #27272A;
    --accent: #27272A;
    --foreground: #FAFAFA;
    --muted: #A1A1AA;
    --primary: #FAFAFA;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* Light theme overrides */
  .theme-light {
    --color-border-default: 0, 0, 0, 0.1;
  }

  .theme-light body {
    color: #111113;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  @apply bg-border;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}